.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 1000px;
    margin: auto;
    background-image: url("https://z-p3-scontent-waw1-1.xx.fbcdn.net/v/t1.15752-9/50584728_1973833162671071_6704258324864434176_n.jpg?_nc_cat=110&_nc_ht=z-p3-scontent-waw1-1.xx&oh=f0e5bf88c84d56c99d3762d91fa6e8d3&oe=5D0087BF");
    align-items: center;
  }