.list {
    list-style-type: none;
    width: 400px;
    height: 600px;
    margin-left: 10px;
  }
  
  .header {
    text-align: center;
    margin-left: -35px;
    margin-bottom: 28px;
    background-color: #a89f84;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;;
  }