.logo {
    width: 20px;
  }
  
  .invalid-alert {
    color: red;
    font-size: 13px;
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }