<div class="content">
	<h1 class="title">{{ title }}</h1>

	<div class="search-add">
		<app-movies-search (searchText)="passSearchText($event)"></app-movies-search>
		<app-add-movie (click)="openFormModal()"></app-add-movie>
	</div>

	<!-- <div class="content"> -->
	<!-- <div *ngIf="editMovie">
      <app-edit-movie [dvdDetails]="selectedDvd"
                    ></app-edit-movie>
    </div>  -->
	<!-- </div> -->

	<div class="container">
		<div class="row">
			<app-list-collection></app-list-collection>
			<app-movie-details></app-movie-details>
		</div>
	</div>

	<!-- <div class="container">
    <div class="row">
      <app-list-collection (thisDvd)="thisDvd($event)"                            
                            ></app-list-collection>
      <app-movie-details [dvdDetails]="selectedDvd" 
                          ></app-movie-details>
    </div>
  </div> -->

	<!-- 
    <div *ngIf="editMovie">
      <app-edit-movie [dvdDetails]="selectedDvd"
                    [(editMovieShow)]="editMovie"
                    ></app-edit-movie>
    </div> -->

</div>
  