.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  text-align: center;
  padding: 40px;
  color: #d5d6c0;
  font-size: 60px;
  margin-left: 80px;
  margin-top: 30px;
  font-family: 'Monoton', cursive;
}

.search-add {
  margin-left: 15%;
  padding: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 30px;
}

.left-column {
  width: 50%;
}

.right-column {
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 25%;
  }
  .right-column {
    width: 50%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 740px) {
  .search-add {
    margin-left: 30%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10%;
  }
}

@media screen and (max-width: 320px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10%;
  }
}